h1 {
  color: #4B4B4D;
  font-size: 40px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.buttons {
  text-align:center;
  color: #4B4B4D;
  font-size: 30px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.bubble 
{
font-size: 24px;
color: #4B4B4D;
font-weight: normal;
font-family: "Raleway:200", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
position: relative;
display:inline-block;
max-width:500px;
min-height:1.5em;
padding: 20px;
background: #FFFFFF;
border: #7F7F7F solid 4px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.bubble:after 
{
content: "";
position: absolute;
bottom: -15px;
left: 60%;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before 
{
content: "";
position: absolute;
bottom: -19.5px;
left: calc(60% - 3px) ;
border-style: solid;
border-width: 18px 18px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
}